In [19]:
data = set()
data.add('a')
data.add('b')
data.add('c')
data.add('1')
data
print(data)
data.add('b')

{'c', 'b', 'a', '1'}

{'1', 'a', 'b', 'c'}

Conditional Statements

In [32]:
age = set()
age = (13,15,14,18)

for x in age :
    if x == 18 : 
        print('inside if')
    elif x <= 17 :
        print('inside elif')
    else :
        print('inside else')

inside elif
inside elif
inside elif
inside if

In [39]:
salary = input('Enter the salary ')
salary = float(salary)
tax = 0
if salary<10000:
    tax=0.1*salary
elif salary <15000:
    tax=0.2*salary
else:
    tax=0.3*salary
    
print(f"For salary {salary},Tax is {tax} in RS")

For salary 123456.0,Tax is 37036.799999999996 in RS

In [44]:
marks = input('Enter the salary')
marks = float(marks)
if marks >=90:
    print ('A+')
elif marks >=80 and marks<90:
    print('A-')
elif marks >=70 and marks<80:
    print('B+')
elif marks >=60 and marks<70:
    print('B-')
elif marks >=50 and marks<60:
    print('C+')
elif marks >=40 and marks<50:
    print('C-')
elif marks >=30 and marks<40:
    print('D')
else:
    print('F')

# need to check the between in the if statement

F

Loops|

In [50]:
marks = [1,2,3,4,5]
for x in marks:
    updatedmarks = x*2
    if x == 2:
        print(updatedmarks)
    elif x !=3:
        print(updatedmarks)

2
4
8
10

In [5]:
index =[1,2,3,4,5]
salaries = []
for x in index:
    salaries = input(f'enter the person {x} salary')
    salary = float(salaries)
    tax = 0
    if salary<10000:
        tax=0.1*salary
    elif salary <15000:
        tax=0.2*salary
    else:
        tax=0.3*salary    
    print(salaries)
print(f"For salary {salary},Tax is {tax} in RS")

1234
123454
12134
12134
11234
For salary 11234.0,Tax is 2246.8 in RS

nested for loop

In [13]:
n= int(input('Enter the number:  '))
for i in range(2,n+1):
    for j in range(1,11):
        print(f"{i}X{j}={i*j}")

2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
2X10=20

In [10]:
n= int(input('Enter the number for that you need the fibonbacci series:  '))
x=0
y=1
series = [x,y]
for i in range(2,n+1):
    series.append(x+y)
    x,y=y,x+y
print(series)

[0, 1, 1, 2, 3, 5]

In [15]:
x = range(3, 6)
for n in x:
  print(n)

3
4
5

While loop

In [1]:
n= 10
i = 1

while i<=n:
    print(i)
    i=i+1
print('done with the run ')

1
2
3
4
5
6
7
8
9
10
done with the run

In [1]:
salary = float(input('Enter your salary:'))
Gender = input('Enter your Gender: For male type M and for female then F :')

if(salary <10) and (Gender =='M'):
    tax=0.05*salary
elif(salary <10) and (Gender =='F'):
    tax = 0.03*salary
elif(salary <20) and (Gender =='M'):
    tax = 0.1*salary
elif(salary <20) and (Gender =='F'):
    tax = 0.08*salary
elif(salary <30) and (Gender =='M'):
    tax = 0.15*salary
elif(salary <30) and (Gender =='F'):
    tax = 0.12*salary
elif(salary <40) and (Gender =='M'):
    tax = 0.2*salary 
elif(salary <40) and (Gender =='F'):
    tax = 0.17*salary 
elif(salary >40) and (Gender =='M'):
    tax = 0.3*salary 
else:
    tax=0.27*salary
print(tax)

15000.0